.gallery {
  background: #F6F6F6;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px; 
  padding: 45px;
  border-radius: 20px;
  justify-content: center;
}

.gallery a {
  width: 30%;
  text-decoration: none; 
}

/* Media Queries pour rendre le site responsive */

/* Tablette : de 481px à 1024px */
@media screen and (max-width: 1024px) {
  .gallery {
    gap: 20px; 
    padding: 20px;
  }

}

/* Téléphone : max 480px */
@media screen and (max-width: 480px) {
  .gallery {
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    gap: 20px; 
    padding: 5px;
  }
  
  .gallery a {
    width: 100%;
  }
}
  
