.gallery {
  background: #F6F6F6;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px; 
  padding: 45px;
}

.gallery a {
  width: 30%;
  text-decoration: none; 
}