.banner{
    position: relative;
    width: 100%;
    height: 223px;
    border-radius: 20px; /* Arrondir les bords */
    overflow: hidden;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.textOverlay {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    z-index: 2;
    font-size: 40px;
    white-space: nowrap;
}

/* Media Queries pour rendre le site responsive */

/* Téléphone : de 375px à 480px */
@media screen and (min-width: 375px) and (max-width: 480px) {
  .textOverlay {
    top: 50%; 
    left: 40%;
    font-size: 18px;
    white-space: break-spaces;
  }

  .banner {
    height: 110px;
  }
}

/* Tablette : de 481px à 1024px */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .textOverlay {
    left: 40%;
    font-size: 30px;
}
}
