.stars {
    display: flex;
    justify-content: right;
}

.stars img {
    width: 36px;
    height: 36px;
    padding-bottom: 15px;
}

  
/* Tablette : de 481px à 1024px */
@media screen and (max-width: 1024px) {
    .stars img {
        width: 24px;
        height: 24px;
        padding-bottom: 10px;
    }
}

/* Téléphone : max 480px */
@media screen and (max-width: 480px) {
    .stars {
        justify-content: left;
    }
    
    .stars img {
        width: 12px;
        height: 12px;
        padding-bottom: 5px;
    }
}

