.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

.tags ul {
    margin: 0;
    padding: 0; 
    gap: 10px;
}

.tags li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 115px;
    height: 25px;
    background-color: #FF6060;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px; 
    padding: 0 10px;
    white-space: nowrap;
}
  
/* Téléphone : max 480px */
@media screen and (max-width: 480px) {
    .tags ul {
        display: flex;
        flex-wrap: wrap;     
    }
}