.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

.tags ul {
    margin: 0;
    padding: 0; 
    gap: 10px;
}

.tags li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 25px;
    background-color: #FF6060;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
}

/* Téléphone : de 375px à 480px */
@media screen and (min-width: 375px) and (max-width: 480px) {

}
  
/* Tablette : de 481px à 1024px */
@media screen and (min-width: 481px) and (max-width: 1024px) {

}