.logo {
    width: Fixed (335px)px;
    height: Hug (46.88px)px;
    gap: 0px;
    opacity: 0px;

}

ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
}

a {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .visited {
    text-decoration: underline;
  }

/* Media Queries pour rendre le site responsive */

/* Téléphone : de 375px à 480px */
@media screen and (min-width: 375px) and (max-width: 480px) {
  header img {
    width: 90px;
  }

  header ul {
    gap: 20px;
  }

  header a {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
  }
}

/* Tablette : de 481px à 1024px */
@media screen and (min-width: 481px) and (max-width: 1024px) {
  header img {
    width: 150px;
  }

  header ul {
    gap: 30px;
  }

  header a {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-transform: uppercase;
  }
}