.errorPage {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 597px;
    height: 100%;
    margin: 0 auto;
    color: #FF6060;
    padding-bottom: 50px;
}

.errorPage h1 {
    font-size: 200px;
}

.errorPage p {
    font-size: 24px;
}

.errorPage a {
    font-size: 12px;
}

/* Media Queries pour rendre le site responsive */

/* Téléphone : de 375px à 480px */
@media screen and (min-width: 375px) and (max-width: 480px) {
    .errorPage {
        width: 100%;
        justify-content: flex-start;
        gap: 50px;
    }
    
    .errorPage h1 {
        font-size: 100px;
    }
    
    .errorPage p {
        font-size: 13px;
        width: 60%;
        margin: 0 auto;
    }
}
  
/* Tablette : de 481px à 1024px */
@media screen and (min-width: 481px) and (max-width: 1024px) {

}