.carroussel {
    position: relative;
}

.logement {
    margin: 50px 0;
    display: grid;
    gap: 10px 50px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.itemLeft {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.itemRight {
  display: flex;
  align-items: flex-start;
  justify-content: right;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5px;
  width:100%;
}

.right {
  display: flex;
  justify-content: right;
  flex-direction: column;
  gap: 5px;
  width:100%;
}

.title h1 {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
}

.title h2 {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

.description {
  text-align: justify;
}