.carroussel {
    position: relative;
}

.logement {
    margin: 50px 0;
    display: grid;
    gap: 10px 50px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.itemLeft {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.itemRight {
  display: flex;
  align-items: flex-start;
  justify-content: right;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 5px;
  width:100%;
}

.right {
  display: flex;
  justify-content: right;
  flex-direction: column;
  gap: 5px;
  width:100%;
}

.title h1 {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
}

.title h2 {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}

.description {
  text-align: justify;
}

.equipements ul {
  flex-direction: column;
  gap: 10px;
}

/* Media Queries pour rendre le site responsive */
@media (max-width: 768px) {

}

@media (max-width: 480px) {

  .logement {
    grid-template-columns: 1fr; /* 1 colonne */
  }

  /* Réorganisation des éléments */
  .itemLeft:nth-of-type(1) { order: 1; } /* Titre et localisation */
  .itemLeft:nth-of-type(2) { order: 2; } /* Tags */
  .itemRight:nth-of-type(1) { order: 3; } /* Profil */
  .itemRight:nth-of-type(2) { order: 4; } /* Rating */
  .itemLeft:nth-of-type(3) { order: 5; } /* Description */
  .itemRight:nth-of-type(3) { order: 6; } /* Équipements */

  .title h1 {
    color: #FF6060;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
  }
  
  .title h2 {
    font-size: 12px;
    font-weight: 200;
    line-height: 10px;
  }

}