.carrousel {
  position: relative;
}

.logement {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.informations {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.details {
  display: block;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  width: 50%;
}

.bottom {
  display: flex;
  gap: 20px;
}

.bottom > * {
  flex: 0 0 48%;
}

.title h1 {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  margin: 0;
}

.title h2 {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin: 0;
}

.description {
  text-align: justify;
}

.equipements {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Media Queries */

/* Tablette : de 481px à 1024px */
@media screen and (max-width: 1024px) {
  .title h1 {
    font-size: 24px;
    font-weight: 200;
    line-height: 30px;
  }
  
  .title h2 {
    font-size: 16px;
    font-weight: 200;
    line-height: 10px;
  }
}

/* Mobile : max 480px */
@media screen and (max-width: 480px) {

  .bottom {
    flex-direction: column;
  }

  .informations {
    flex-direction: column;
    gap: 10px;
  }

  .right {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .title h1 {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
  }
  
  .title h2 {
    font-size: 12px;
    font-weight: 200;
    line-height: 10px;
  }

  .informations .left{
    width: 100%;
  }
  
}
