.profil {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.profil h1 {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: right;
}

.profil img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}


/* Media Queries pour rendre le site responsive */

/* Tablette : de 481px à 1024px */
@media screen and (max-width: 1024px) {
    .profil h1 {
        font-size: 16px;
    }
    
    .profil img {
        width: 32px;
        height: 32px;
    }
}

/* Téléphone : max 480px */
@media screen and (max-width: 480px) {
    .profil {
        justify-content: left;
    }
    
    .profil h1 {
        font-size: 15px;
        text-align: left;
    }
    
    .profil img {
        width: 24px;
        height: 24px;
    }
}