.collaps {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin:  0 auto;
    margin-bottom: 20px;
}

.collapsHeader {
    display: flex;
    color: #FFFFFF;
    background-color:  #FF6060;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.collapsHeader h2 {
    margin: 0;
    font-size: 18px;
}

.collapsHeader img {
    width: 20px;
    height: 20px;
    transition: transform 300ms ease;
}

.icon.rotated {
    transform: rotate(180deg);
}
  
.collapsDescription {
    display: none;
    padding: 20px;
    font-size: 14px;
    background: #F6F6F673;
    transform: scaleY(0);
    transform-origin: top; 
    transition: transform 300ms ease, max-height 300ms ease;
}

.collapsDescription.open {
    display: block;
    min-height: 100px;
    transform: scaleY(1);
}
  


