.images {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.images img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.actions {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    pointer-events: auto;
    padding: 10px;
}

.actions .arrow {
    width: 45px;
    height: 75px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.actions button:hover .arrow {
    opacity: 1;
}

.count {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    padding: 25px;
    text-align: center;
    color: #FFFFFF;
}


/* Media Queries pour rendre le site responsive */

/* Tablette : de 481px à 1024px */

/* Téléphone : max 480px */
@media screen and (max-width: 480px) {
    .images {
        height: 250px;
    }

    .actions .arrow {
        width: 16px;
    }

    .count {
        display: none;
    }
}
