* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1440px;
  min-height: 150%; 
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Aligne les éléments aux extrémités */
  align-items: center;
  padding: 50px;
}

main {
  flex: 1;
  padding: 0 50px 0px 50px;
  display: block;
  flex-direction: column;
}

footer {
  height: 210px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

