* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Remplace min-height par 100% de la hauteur de l'écran */
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem; /* Utilisation d'unités relatives */
}

main {
  flex: 1;
  padding: 0 2rem; /* Espacement flexible */
  display: block;
}

footer {
  height: 210px; /* Réduction de la hauteur pour les petites résolutions */
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.mainContent{
  max-width: 1440px;
  margin: auto;
}

.footerContent {
  width: 100vw;
}
  
/* Tablette : de 481px à 1024px */
@media screen and (max-width: 1024px) {

}

/* Téléphone : max 480px */
@media screen and (max-width: 480px) {
  header {
    padding: 2rem 1rem; /* Utilisation d'unités relatives */
  }
  
  main {
    padding: 0 1rem; /* Espacement flexible */
  }
}


