.copyright {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
}

/* Media Queries pour rendre le site responsive */

/* Téléphone : de 375px à 480px */
@media screen and (min-width: 375px) and (max-width: 480px) {
    .copyright {
        font-size: 12px;
        font-weight: 250;
        line-height: 12px;
    }

    footer p {
        width : 120px;
    }

    footer img {
        height: 20px;
    }
}
  
/* Tablette : de 481px à 1024px */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .copyright {
        font-size: 16px;
        font-weight: 350;
        line-height: 24px;
    }
}
  